@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.container{
  display: grid;
  place-items: center;
  /* background: linear-gradient(to top,#8a8aa4 50%,#414182 90%)no-repeat; */
  /* background: #dde1e7; */
  text-align: center;
  /* height: 609px; */
}
.content {
  margin-top: 10%;
  width: 330px;
  /* height: 98%; */
  height: 80%;
  overflow-y: scroll;
  padding: 10px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288); 
              
}
  
::-webkit-scrollbar {
  width: 10px;
}
.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}
.field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
/* .cont{
  align-items: center;
} */
.field:nth-child(){
  margin-top: 20px;
}
.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
.field textarea{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
.field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field textarea:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
input[type="checkbox"] {
  background: none;
  color: none;
  box-shadow: none;
}
.field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label{
  opacity: 0;
}
.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 5px;
}
.forgot-pass a{
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}
.forgot-pass:hover a{
  text-decoration: underline;
}
.button{
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.sign-up{
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
}
.sign-up a{
  color: #3498db;
  text-decoration: none;
}
.sign-up a:hover{
  text-decoration: underline;
}
input[type='text'],
input[type='password']{
    border:none;
    outline: none;
    box-shadow:none;
    width: 100%;
}
.fa-eye-slash.btn{
    border:none;
    outline: none;
    box-shadow:none;
}
.btn{
    margin-top: 20px;
    border-radius: 15px;
}
.input-field{
    border-radius: 5px;
    padding:5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color:#4343ff;
}
.input-field.error{
    /* border: 1px solid red;
    color:red; */
    height: 100%;
    width: 100%;
    /* padding-left: 45px; */
    outline: none;
    border: none;
    font-size: 18px;
    /* background: red; */
    /* color: red; */
    border-radius: 25px;
    box-shadow: inset -1px -1px 1px red,
                inset -2px -2px 1px red;
}
.field select{
  height: 81%;
  width: 90%;
  margin-top: 5px;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
.field select:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field select:valid ~ label{
  opacity: 0;
}